body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: auto;
    padding: 2rem;
}

.general-map-size {
    height: 800px; 
    width: 1000px;
}

.single-map-size {
    height: 400px; 
    width: 800px;
}

